/* My styles */

.td {
  text-align: center;
  vertical-align: middle !important;
  font-weight: bold;
  width: 33.3%;
}

button {
  cursor: pointer
}

.yellocell {
  background-color: #ffc107 !important;
}

.bold {
  font-weight: bold;
}

.panel-default {
  border-color: #ddd;
}

.inline-b {
  display: inline-block;
}

.no-radius {
  border-radius: 0 !important;
}

.underline {
  text-decoration: underline;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}

.flex {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding: 8px 1.25rem !important;
}

.profile {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 100%;
  border: 3px solid #eee;
}

.border {
  border: 3px solid #eee;
}

.navStyle {
  background-color: #212529 !important;
  border: none !important;
}

.count {
  margin-left: 4px;
  padding: 1px;
  background-color: #ffc600;
  border-radius: 4px;
  margin-top: 10px;
  font-size: 14px;
}

.block {
  display: block;
  width: 100%;
}

.productImage {
  max-height: 200px;
}

.App {
  /* text-align: center; */
  color: #000 !important;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}